{% extends 'base.html' %}
{% load static %} 
{% block title %}Inventory Tracker{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Ingredients</h2>
    <hr/>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in object_list %}
            <tr>
                <td>
                    <a href="{% url "update_ingredient" ingredient.id %}">{{ ingredient.name }}</a>
                </td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td class="price">${{ ingredient.price_per_unit|stringformat:".2f" }}</td>
                <td><a href="{% url "delete_ingredient" ingredient.id %}"
                       style="text-decoration: none; color: inherit;">❌</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
        <a href="{% url "add_ingredient" %}" style="display:
     inherit; text-align: center; border-radius: 15px; text-decoration: none;
     color: inherit; padding: 4px; background-color: lightblue;">➕</a>
    </center>
{% endblock %}